@font-face {
    font-family: 'MyriadProRegular';
    src: url("fonts/MyriadProRegular.ttf");
}
body, ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    display: inline-block;
}
.wrapper{
    margin: 60px auto;
    width: 1280px;
}
.logo{
    font-family: 'MyriadProRegular', serif;
    font-size: 80px;
}
.black{
    color: black;
}
.blue{
    color: #4bcaff;
}
a{
    text-decoration: none;
    font-family: 'MyriadProRegular', serif;
    display: block;
}
.topmenu{
    background-color: #35444f;
    margin: 45px 0;
}
.topmenu ul{
    text-align: center;
    font-size: 0;
}
.topmenu li{
    font-size: 0;
}
.topmenu a{
    color: #ffffff;
    font-size: 24px;
    line-height: 70px;
    padding: 0 20px;
}
.topmenu a:hover{
    background-color:#222f3a;
    border-left: 1px solid white;
    border-right:1px solid white;
}
.leftmenu{
    width: 345px;
    outline: 1px solid #222f3a;
    float: left;
}
.leftmenu li{
    display: block;
}
.leftmenu a{
    color: #485863;
    font-size: 27px;
    line-height: 80px;
    padding-left:45px;
}
.leftmenu a:hover{
    color: #000000;
    background-color: #D9D9D9;
    padding-left: 70px;
}
.content{
    float: right;
    width: 885px;
}
img{
    width: 100%;
    border: 1px solid #222f3a;
}
.text{
    margin: 50px 30px;
    font-family: 'MyriadProRegular', serif;
    color:  #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}
.clearfix{
    clear: both;
}
footer {
    background-color: #B3B6B9;
}
.bottommenu li{
    line-height: 70px;
}
.bottommenu ul{
    margin-left: 35px;
    font-size: 0;

}
.bottommenu a{
    color: #0c1927;
    font-size: 28px;
    line-height:70px;
    padding:0 10px;
}
.bottommenu a:hover{
    color: #2D80A5;
    text-decoration: underline;
}
.bottommenu li:last-child{
    padding-left: 180px;
    font-size: 24px;
    font-family:'MyriadProRegular', serif ;
}




